<p id="notice"><%= notice %></p>

<p>
  <strong>Id:</strong>
  <%= @story.id %>
</p>

<p>
  <strong>Title:</strong>
  <%= @story.title %>
</p>

<p>
  <strong>Story:</strong>
  <%= @story.story %>
</p>

<p>
  <strong>Iconclass:</strong>
  <%= @story.iconclass %>
</p>

<%= link_to 'Edit', edit_story_path(@story) %> |
<%= link_to 'Back', stories_path %>
