<!DOCTYPE html>
<html>
<head>
  <title>Map Interactive</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= tinymce_assets %>
 
</head>
<body>

  <div id="wrapper">

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <!-- <a class="navbar-brand" href="/">Doctor Profile</a> -->
      </div>
      <!-- /.navbar-header -->

      <ul class="nav navbar-top-links navbar-right">
        <!-- /.dropdown -->
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">
            <i class="fa fa-user fa-fw"></i>  <i class="fa fa-caret-down"></i>
          </a>
          <ul class="dropdown-menu dropdown-user">
            <% if current_user.doctor? %>
              <li><%= link_to '<i class="fa fa-user fa-fw"></i> User Profile'.html_safe, edit_doctor_path(current_user.doctor.id) %></li>
              <li class="divider"></li>
            <% end %>
          <% if user_signed_in? %>
          <li><%= link_to '<i class="fa fa-sign-out fa-fw"></i> Sign out'.html_safe, destroy_user_session_path, :method => :delete %></li>
          <% else %>
          <li><%= link_to '<i class="fa fa-sign-out fa-fw"></i> Log in'.html_safe, new_user_session_path, :method => :get %></li>
          <% end %>
        </ul>
        <!-- /.dropdown-user -->
      </li>
      <!-- /.dropdown -->
    </ul>
    <!-- /.navbar-top-links -->
    <div class="navbar-default sbsidebar" role="navigation">
      <div class="sbsidebar-nav navbar-collapse">
        <ul class="nav" id="side-menu">
          <% if current_user %>
          <% if user_signed_in? && current_user.doctor? %>
          <li>
            <%= link_to '<i class="fa fa-dashboard fa-fw"></i> Dashboard'.html_safe, edit_doctor_path(@doctor) %>
          </li>
          <% end %>
          <% if current_user.admin? %>
          <li>
            <%= link_to '<i class="fa fa-user-md fa-fw"></i> All Surgeons'.html_safe, doctors_path %>
          </li>
          <li>
            <%= link_to '<i class="fa fa-cogs fa-fw"></i> Update maps'.html_safe, updates_path %>
          </li>
          <li>
            <%= link_to '<i class="fa fa-ambulance fa-fw"></i> Specialties'.html_safe, specialties_path %>
          </li>
             <li>
            <%= link_to '<i class="fa fa-home fa-fw"></i> Cities'.html_safe, cities_path %>
          </li>
             <li>
            <%= link_to '<i class="fa fa-globe fa-fw"></i> Countries'.html_safe, countries_path %>
          </li>
          <li>
            <%= link_to '<i class="fa fa-image fa-fw"></i> Districts'.html_safe, 
                districts_path %>
          </li>
          <li>
            <%= link_to '<i class="fa fa-medkit fa-fw"></i> Organizations'.html_safe, 
                organisations_path %>
          </li>
          <li>
           <%= link_to '<i class="fa fa-users fa-fw"></i> Users'.html_safe, 
                users_path %>
          </li>
          
          <li>
           <%= link_to '<i class="fa fa-users fa-fw"></i> Stories'.html_safe, 
                stories_path %>
          </li>

          <li>
           <%= link_to '<i class="fa fa-bug fa-fw"></i> Bugs'.html_safe, 
                bugs_path %>
          </li>
              <li>

              <a href="/drive"> <i class="fa fa-table fa-fw"></i> Import </a>
       
          </li>
          
          <% end %>
          <% end %>
        </ul>
      </div>
      <!-- /.sidebar-collapse -->
    </div>
  </nav>
</div>
<div id="page-wrapper">
  <% if flash[:notice] %>
    <div class="alert alert-success">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
      <%= flash[:notice] %>
    </div>
  <% end %>

  <%= yield %>

</div>
<!-- /#page-wrapper -->

</body>
</html>
